@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family:sans-serif;
    
}


/* scroll div */

.cover{
    background-color: black;
    background-image: url("../src/assets/images/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
   background-position:center;
}

.navbar_tooltip{
    position: relative;
}

.navbar_tooltip p{
   font-size: 20px;
    position: absolute;
    opacity: 0;

}

.navbar_tooltip:hover p{
             transition: opacity 0.4s ease-in-out;

    opacity: 1;
}